*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
    font-weight: 700;
    padding-bottom: 10px;
}
h2{
    font-size:40px;
    font-weight: 700;
    
}
h4{
    font-size: 20px;
}
p{
    font-size: 16px;
    padding-bottom:20px;
   
}
.container{
    width: 1024px;
    margin: 50px auto;
}
header{
    
    background-color:#161616;
    color: white;
    padding-left:4%;
    padding-right: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:50px 80px 82px;
    border-radius: 20px;
}
.banner-left{
   width: 50%;
}
.banner-left h1{
    font-size: 60px;
}
.banner-left p{
    word-spacing: 2px;
    padding-bottom: 40px;
}
.watch-btn{
    text-decoration: none;
    background-color: #DD0000;
    font-size: 18px;
    color: white;
    padding: 14px 22px;
}
.watch-btn i{
    padding-left: 10px;
}
.banner-right{
    width:50%;
}
.banner-right img{
    width:100%;
    padding-left:30px;
}

/* main */
.blogpost-container{
    display: flex;
   
}
.all-buttons{

    width:270px;
    height: 380px;
    background-color: #161616;
    border-radius: 10px;
  
    padding:30px;
    height:215px;
    margin-left:-50px; 
    margin-right:30px;
    border: none;
}
.button{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-gap:30px;
        
}
.button button{
    padding: 15px 14px;
}
.button .red-btn{
    background-color: red;
    border: none;
    
}
.button .red-btn a{
    color: white;
}
button a{
    
    text-decoration: none;
    color: black;
   font-size: 16px;
}
.blogs{
        display: grid;
        grid-template-columns: repeat(3,1fr);
      
        grid-column-gap:15px;
        grid-row-gap:30px;
        margin-right:-60px;
}
.blog{
   width:250px;
   height: 330px;
   margin:0 18px 0 0;
   border-radius: 3%;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.blog:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.blog img{
   
    width:100%;
  
}
.blog-time i{
    padding-left: 15px;
}
.blog p{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    margin-left: 10px;
}
.blog .blog-btn{
    width: 100px;
    height: 32px;
    margin-top: 4%;
    margin-bottom: 4%;
    font-size: 16px;
    font-weight: 500;
    margin-left:10px;
}
.view-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.view-btn button{
    color: white;
    padding: 20px 44px;
    background-color: #DD0000;
    font-size: 18px;
    border: none;
    visibility: hidden;
}
/* website-2 */
.blog-width{
    width:230px;
    height:270px;
    margin:0 18px 0 0;
   border-radius: 3%;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.align{
  
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding:0 5px;
   
}

.align .thumbnail{
    display: flex;
    align-items: center;
    justify-content: center;
}
.align .thumbnail img{
    width:40%;
}

.align small{
    font-size: 15px;
    text-align: justify;
    padding-left:3%;
    padding-right:3%;
   
}
/* all group */
.players-img{
   
    width:100%;

    height:150px;
    padding-bottom:5px;
  
}
.blog{
    height: 350px;
}
.blog .player-name{
    font-size: 18px;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 6px;
}
.blog .player-history{
   
    font-size:12px;
    padding-right: 5px;
    padding-bottom: 6px;
}
/* footer */
footer{
  background-color:#161616;;
    color: white;
    margin: 90px 75px;
    text-align: center;
    padding-left:4%;
    padding-right: 4%;

}
footer h2{
    padding-top: 50px;
    padding-bottom: 45px;
}
footer hr{
    width:940px;
    margin-left:40px;

}
footer ul{
    display: inline-block;
}
.footer-content{

    padding-bottom:5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.footer-content-details,.social-media-icons{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
}
.footer-content-details a,.social-media-icons a{
    margin: 10px 20px;
    color: white;
    text-decoration: none;
    padding: 14px 0;
    font-size: 20px;
}
.social-media-icons li a i{
    width:40px;
    height:40px;
    border-radius:50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
.social-media-icons li a i:hover{
    background-color: white;
    color:rgba(128, 128, 128, 0.612);
    font-size: 24px;
    font-weight:900;
}

/* mobile devices */
@media only screen and (max-width:600px){
    .container{
        max-width: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .banner-left h1{
        text-align:center;
        font-size:18px;
    }
    .watch-btn{
        text-align:center;
        margin: 0 auto;
    }
    .banner-left p{
        text-align:center;

    }
    header{
        padding-top: 5%;
        padding-left:0;
        padding-right: 0;
    }
    .banner-right{
        margin-top:7%;
    }
    .blogpost-container{
        flex-direction: column;
        
    }
    .all-buttons{
        background-color:white;
        text-align: center;
        margin: 0 auto;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin-right:-23px;
    }
    footer{
       
          padding-left:0;
          padding-right: 0;
    }
    footer hr{
        width:280px;
    
    }
    .footer-content .footer-content-details{
        flex-direction: column;
        padding-bottom:5%;
        
    }
    .footer-content-details li{
       margin-top:10%;
       
    }
}
/* tablet */
@media screen and (min-width:601px) and (max-width:768px){
    .container{
        max-width:80%;
    }
    header{
   
        padding-bottom: 20px;
        
    }
    
    .banner-left h1{
        font-size:24px;
    }
    .banner-left p{
        font-size:14px;
        padding-bottom: 20px;
    }
    .blog img{
   
        width:100%; 
         
    }
    .blogpost-container{
        display: flex;
        flex-direction: column;  
    }
    .button{
        display: flex;
      
    }
    .all-buttons{

        width:560px;
        height:auto;
        background-color:white;
        margin-right:-2px;
     
        margin-bottom: 30px;

        border: none;
    }
    .button button{
        padding: 15px 68px;
    }
    button a{
    font-size:14px;
    }
    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
      
        grid-row-gap:25px;
        
    }
    .blog img{
   
        width:100%;
      
    }
    .blog{
        width:280px;
        height: 330px;
        margin-left:-4%;
       
     }
     .view-btn button{
     
        visibility:visible;
    }
    .footer-content-details a{
        
        font-size: 12px;
        margin: 10px 10px;
    }
   
  footer hr{
      width:490px;
  
  }
}